h1{
    /* color: red; */
    color: black;
    font-size: 28px;
}

h2{
    margin-bottom: 45px;
}

a{
    font-size: 18px;
    color: rgb(129, 129, 129);
}

a:hover{
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.topNav{
    background-color: rgb(216, 216, 216);
    margin: auto;
}

.childNav{
    margin: auto;
}


.icons{
    text-align: center;
}

.projectImage{
    width: 100%;
    margin-bottom: 25px;
}

.picMe{
    display: block;
    border-radius: 10%;
    height: 25em;
    margin: auto;
}

.testing{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
}

.carousel {
    height: 620px;
}

.descript{
    position: relative;
    top:-5px;
}

/* div{
    border: red 1px solid;
} */


