h1{
    color: black;
    font-size: 28px;
}


a{
    font-size: 18px;
    color: rgb(129, 129, 129);
}

a:hover{
    color: rgb(66, 66, 66);
    text-decoration: none;
}


.icons{
    text-align: center;
}

.testing{
    border-color: black;
    border-radius: 2px;
    border-style: solid;
}


